*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
    background-color: var(--black);
}

.hero{
    /* border: 1px solid white; */
    height: 50vh;
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: center;
}
.hero_title{
    font-size: 100px;
    margin-top: 50px;
    color: white;
}
.tag_container{
    font-size: 20px;
    color: white;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    /* border:1px solid white; */
    margin-top: 40px;
    gap: 30px;
    padding: 20px;
}
.tags{
    /* border:1px solid white; */
    min-width: 50px;
    padding: 5px 25px;
    border-radius: 25px;
    background-color: rgb(22, 22, 22);
    box-shadow: 0px 0px 5px black;
}


.article_container{
    display: flex;
    width: 85%;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 20px black;
    border-radius: 20px;
    /* height: 1000px; */
    margin: auto;
    margin-top: 30px;
}
.container_filter{
    width: 100%;
    height: 60px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(43, 43, 43);
}
.filter_btn{
    height: auto;
    margin-left: 20px;
    font-size: 30px;
    color: rgb(173, 173, 173);
    /* border: 1px solid black; */
    width: fit-content;
}
.filter_btn:hover{
    color: rgb(109, 109, 109);   
    cursor: pointer;
}
.article_collection{
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    align-items: center;
}
.article{
    width: 100%;
    background-color: var(--black);
    height: 300px;
    /* border: 1px solid white; */
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    margin: 25px;
    display: flex ;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.article_img{
    width: 40%;
    height: 90%;
    margin: 0px 30px;
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    transition: box-shadow 0.3s;
}
.article:hover .article_img{
    box-shadow: 12px 14px 0px var(--pink);
}
.article_info{
    /* border: 1px solid blue; */
    width: 50%;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    height: 90%;
}
.article_title{
    /* border: 1px solid white; */
    color:  white;
    font-size: 35px;
}
.article_title:hover{
    /* color: var(--pink); */
    
    cursor: pointer;
}
.sub_title{
    color: rgb(173, 173, 173);
    font-size: 20px;
}


.login_plane{
    position:relative;
    display: none;
}        
.active_login{
    /* position: absolute; */
    top: 0;
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: blur(3px); */
    position: fixed;
    /* position: relative; */
    z-index: 3000;
    /* opacity: 3px; */
    /* background-color: transparent; */

}
.login_container{
    position: relative;
    z-index: 3000;
    /* border: 1px solid black; */
    display: flex;
    width: 30vw;
    height: 80vh;
    background-color: #0f0f0f;
    flex-flow: column nowrap;
    box-shadow: 0px 0px 20px black;
    justify-content: flex-start;
    gap: 50px;
    padding: 50px 0px;
    border-radius: 10px;
    align-items: center;
    /* filter: blur(10px); */
}
.login_plane #title{
    color: white;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    /* border: 1px solid black; */
}
.login_container input{
    width: 65%;
    font-size: 23px;
    background-color: #0f0f0f;
    /* border-radius: 10px; */
    padding: 10px; 
    border: none;
    border-bottom: 3px solid #ed26ff; 
    /* box-shadow: 0px 0px 5px black; */
    color: white;
}
.login_container input:focus{
    /* border: transparent; */
    outline: none;
    /* background-color: #ed26ff; */
}
.login_container .btn{
    width: 65%;
    /* border: 1px solid white; */
    text-align: center;
     font-size: 20px; 
    padding: 10px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    background: -webkit-linear-gradient(45deg,rgb(235, 111, 39), #ed26ff);
    border-radius: 25px;
} 
.create{ 
    
    text-decoration: underline;
    padding: 20px;
    /* padding-bottom: 20px; */
    /* border: 2px solid white; */
    color: rgb(114, 114, 114);
    cursor: pointer;
}
.cancel{    
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    /* border: 1px solid white; */
    /* /* padding: 5px 10px; */
    position: absolute;
    font-stretch: condensed;
    right: 4px; 
    /* background-color: grey; */
    top: 2px;
    border-radius: 30px;
    cursor: pointer;
}
