:root {
    --pink: #ed26ff;
    --orange: rgb(235, 111, 39);
    --black: #0f0f0f;
    --main_gradient: -webkit-linear-gradient(rgb(235, 111, 39), #ed26ff);
    --secondary_gradient: -webkit-linear-gradient(#eee, rgb(46, 46, 46));
    --bad_gradient: -webkit-linear-gradient(red, black);
    --text_color: white;
}
.dark-mode{
    --pink:  rgb(235, 39, 39);
    /* rgb(235, 39, 39), #268bff */
    --orange: #268bff;  
    /* rgb(235, 111, 39) */
    --black: rgb(230, 230, 230);
    /* --main_gradient: -webkit-linear-gradient(rgb(235, 111, 39), #ed26ff); */
    --main_gradient: -webkit-linear-gradient(rgb(235, 39, 39), #268bff);
    --secondary_gradient: -webkit-linear-gradient(#eee, rgb(46, 46, 46));
    --bad_gradient: -webkit-linear-gradient(red, black);
    --text_color: black;
}
html {
    scroll-behavior: smooth;
    user-select: none;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Signika Negative', sans-serif;
    background-color: var(--black);
}

body::-webkit-scrollbar {
    width: 0.7em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--black);
}

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--main_gradient);
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: transparent;

}

/* styling header */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0px;
    box-sizing: border-box;

    /* -----if you want to make navbar sticky----- */
    /* position: sticky;
    top: 0px;
    z-index: 2; */
    /* just for styling convience */
    /* border: 2px solid black; */

}

.container {
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
    margin-top: 100px;
    height: 100vh;
    flex-flow: row nowrap;
    color: var(--text_color);
    z-index: -1;
}

.hero {
    height: 100vh;

    /* border: 2px solid var(--text_color); */
}

.head {
    font-size: 90px;
    color: var(--text_color);
    text-align: center;
    /* border: 2px solid var(--text_color); */
    padding: 125px 100px 50px 70px;
    background: -webkit-linear-gradient(#eee, rgb(99, 99, 99));
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.head span {
    background: -webkit-linear-gradient(var(--orange), var(--pink));
    margin-left: 50px;
    font-size: 100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box {
    width: 25%;
    /* border: 2px solid black; */
    height: 10 0vh;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 1s;
}

.main {
    width: 100%;
    /* border: 2px solid var(--text_color); */
    height: 100vh;
    position: relative;
    display: none;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
    background-color: var(--black);
    /* transition: display 1s, background-color 1s; */
}

.main .main_heading {
    color: var(--text_color);
    font-size: 90px;

}

.box:hover .main {
    /* display:flex; */
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: var(--pink);
}
#other:hover{
    background: var(--main_gradient);
}
#dog:hover {
    /* background: url("https://wallpapercave.com/wp/wp4768222.jpg"); */
    /* background: url("https://images.unsplash.com/photo-1613509019120-eb2d324e2775?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80"); */
    /* background: url("https://d.newsweek.com/en/full/1900450/dog.jpg?w=1600&h=1200&q=88&f=490f47b6740e2b9911157ab0eef8a065"); */
    background: url("images/dog_hover.jpg");
    background-size: cover;
    /* background-position:  -100px; */
}

#cat:hover {
    /* background: url("https://wallpaperaccess.com/full/1433935.jpg"); */
    /* background: url("https://cdn.wallpapersafari.com/49/43/58uPFT.jpg"); */
    /* background: url("https://img5.goodfon.com/wallpaper/nbig/4/1a/kot-koshka-portret-polovina-mordy-polovina-morda-vzgliad-fon.jpg"); */
    /* background: url("https://media.istockphoto.com/photos/closeup-of-tabby-cat-face-picture-id473932248?k=20&m=473932248&s=612x612&w=0&h=N85PcP-vtHKTZ_5buiWqb3In_-H0FBevR4CNZtdI8k0="); */
    /* background: url('https://www.petsworld.in/blog/wp-content/uploads/2017/08/stray-cat-2.jpg'); */
    background: url("images/cat_hover.jpg");
    background-size: cover;
    /* background-position: -20px; */
}

#bird:hover {
    /* background: url("https://media.istockphoto.com/photos/closeup-of-tabby-cat-face-picture-id473932248?k=20&m=473932248&s=612x612&w=0&h=N85PcP-vtHKTZ_5buiWqb3In_-H0FBevR4CNZtdI8k0="); */
    /* background: url("https://www.wallpaperbetter.com/wallpaper/234/395/788/green-parrot-bird-2K-wallpaper-middle-size.jpg"); */
    /* background: url("https://c4.wallpaperflare.com/wallpaper/802/582/365/beautiful-colors-beautiful-parrot-animals-birds-hd-art-wallpaper-preview.jpg"); */
    /* background: url("https://s2.best-wallpaper.net/wallpaper/1920x1200/1706/Parrot-portrait-green-feathers_1920x1200.jpg"); */
    /* background: url("https://images4.alphacoders.com/596/596294.jpg"); */
    /* background: url("https://wallpaperaccess.com/full/6359471.jpg"); */
    background: url("images/bird_hoverr.webp");
    background-size: cover;
}

.box:hover {
    width: calc(100% + 600px);
    background-color: rgb(68, 68, 68);
    /* background: var(--main_gradient); */
    /* box-shadow: 0px 0px 20px var(--orange); */
}

/* .box:hover .main{
    display: inline-block;
} */
.box:hover span {
    display: none;
}

span {
    font-size: 70px;

}

/* .text{
    height: 130vh;
    background-color: #0f0f0f;
} */

/* Location */
.loc {
    /* border: 1px solid var(--text_color); */
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
}

.loc-heading {
    font-size: 50px;
    color: var(--text_color);
}

.input-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid var(--text_color); */
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    gap: 0px;
}

.loc-search {
    height: 50px;
    width: 500px;
    color: var(--text_color);
    font-size: 20px;
    background-color: var(--black);

    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search {
    font-size: 24px;
    height: 50px;
    padding: 5px 10px;
    background: var(--black);
    color: var(--text_color);
    border: none;
    /* border-radius: 5px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#search:hover {
    background: var(--pink);
}

.box-active {
    width: 25%;
    /* border: 10px solid var(--pink); */
    height: 10 0vh;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--pink);
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 1s;
}

.box-active:hover {
    width: calc(100% + 600px);
    /* width: 25%; */
    background-color: rgb(68, 68, 68);

}

.box-active:hover span {
    display: none;
}


/* Styling categories */
.category-container {
    display: none;
    color: var(--text_color);
}
.active {
    color: var(--text_color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.title{
    
    color: var(--text_color);
    width: 100%;
    /* border: 1px solid var(--text_color); */
    /* font-size: 150px; */
    box-shadow: 0px 0px 20px black;
    transition: 0.4s;
    z-index: 2;
    background-color: var(--black);
    text-align: center;
    position: fixed;

    top: 0px;
    padding: 130px;
    border-radius: 20px;
    margin-bottom:100px;
    /* -webkit-text-stroke: 2px var(--pink); */
    border-bottom: 5px solid var(--pink );
    font-size: 250px;
    -webkit-text-stroke: 5px var(--text_color);
    -webkit-text-stroke-width: 2px;
    /* webkitstroke */
    color: transparent;
    /* color: rgba(255, 255, 255, 0); */
    transition: 0.4s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    letter-spacing: 25px;
}


.profile_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
    margin-top: 500px;
    align-items: center;
}
.filter{
    width: 20%;
    align-self: flex-start;
    height: 1300px;
    box-shadow: 0px 0px 20px black;
    background-color: var(--black);
    margin-left: -20px;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 100px;
    /* border: 2px solid var(--text_color); */
}
.name{
    font-size: 34px;
    width:100%;
    text-align: center;
    background-color: var(--black);
    letter-spacing: 6px;
    /* padding: 0px 100px; */
    /* border: 1px solid var(--text_color); */
}
.method_container{
    /* border: 1px solid var(--text_color); */
    /* height: 200px; */
    width: 100%;
    gap: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* margin: 50px 10px; */
}
.method{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    /* height: 200px; */
    /* border: 1px solid blue; */
}
.type{
    /* border: 1px solid red; */
    font-size: 25px;
    width: 100%;
    color: rgb(175, 175, 175);
    text-align: center;
}
select{
    color: rgb(80, 80, 80);
    width: 200px;
    text-align: center;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: var(--black);
    box-shadow: 0px 0px 10px black;
}
option{
    border: none;
    border-radius: 10px;
    
}
.card_container{
    margin-left: 20px;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
.card{
    width: 30%;
    height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px black;
    background-color: var(--black);
    /* border: 5px solid black; */
    margin-top: 20px;
    border-radius: 20px ;
    transition: transform 0.4s, box-shadow 0.3s;
}
.card:hover{
    transform: translateY(-30px) ;
    box-shadow: 10px 14px 0px var(--pink), 0px 0px 0px black;
    cursor: pointer;
}

#more{
    background: var(--main_gradient);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
}
#more:hover{
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    transform: translateY(0px);
    box-shadow: 0px 0px 20px black;
    cursor: pointer;    
}
/* Dogs */



/* sample-text */


.goto_top {
    background: url("images/akar-icons_chevron-up.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    /* background-color: var(--pink); */
    display: none;
    /* border: 2px solid var(--text_color); */
    position: fixed;
    z-index: 1000;
    top: 50px;
    left: 70px;
    cursor: pointer;
    border-radius: 50px;
}
.goto_top:hover{
    box-shadow:0px 0px 10px var(--pink);
}

.login_plane{
    position:relative;
    display: none;
}        
.active_login{
    /* position: absolute; */
    top: 0;
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: blur(3px); */
    position: fixed;
    /* opacity: 3px; */
    /* background-color: transparent; */

}
/* .t{ */
    /* filter: blur(0px); */
    /* position: absolute; */
/* } */
.login_container{
    position: relative;
    z-index: 2;
    /* border: 1px solid black; */
    display: flex;
    width: 30vw;
    height: 80vh;
    background-color: var(--black);
    flex-flow: column nowrap;
    box-shadow: 0px 0px 20px black;
    justify-content: flex-start;
    gap: 50px;
    padding: 50px 0px;
    border-radius: 10px;
    align-items: center;
    /* filter: blur(10px); */
}
.login_plane #title{
    color: var(--text_color);
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    /* border: 1px solid black; */
}
.login_container input{
    width: 65%;
    font-size: 23px;
    background-color: var(--black);
    /* border-radius: 10px; */
    padding: 10px; 
    border: none;
    border-bottom: 3px solid var(--pink); 
    /* box-shadow: 0px 0px 5px black; */
    color: var(--text_color);
}
.login_container input:focus{
    /* border: transparent; */
    outline: none;
    /* background-color: #ed26ff; */
}
.login_container .btn{
    width: 65%;
    /* border: 1px solid var(--text_color); */
    text-align: center;
     font-size: 20px; 
    padding: 10px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    background: -webkit-linear-gradient(45deg,rgb(235, 111, 39), #ed26ff);
    border-radius: 25px;
} 
.create{ 
    
    text-decoration: underline;
    padding: 20px;
    /* padding-bottom: 20px; */
    /* border: 2px solid var(--text_color); */
    color: rgb(114, 114, 114);
    cursor: pointer;
}
.cancel{    
    color: var(--text_color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    /* border: 1px solid var(--text_color); */
     padding: 5px 10px; 
    position: absolute;
    right: 0; 
    /* background: var(--main_gradient); */
    /* background-clip:; */
    top: 0;
    border-radius: 30px;
    cursor: pointer;
}
.more{
    font-size: 40px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background-color: #ed26ff;
    width: fit-content;
} 



.profile{
    width: 100%;
    height: 400px;
    display: flex;
    /* display: block; */
    flex-flow: column;
    /* border: 1px solid var(--text_color); */

    justify-content: center;
    align-items: center;

}


.card_img{
    height: 80%;
    /* border: 2px solid var(--text_color); */
    /* background-color: #ed26ff; */

    border-radius: 10px;
    width: 100%;
}
.image{
    height: 100%;
    width: 100%;
    /* background-color: #ed26ff; */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}
.card_name {
    width: 100%;
    /* color: #0f0f0f; */
    font-size: 20px;
    height: 20%;
    text-align: center;
    display: flex;
    /* border-top:5px solid black; */
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--black);
    /* border-bottom: 5px solid black; */
}
